<main role="main">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>청개천</title>

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="../../css/isotope.css" media="screen" />
    <link rel="stylesheet" href="../../css/animate.css">
    <link rel="stylesheet" href="../../js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link href="../../css/style.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: Dewi
      Theme URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>

<div class="box">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="img-thumbnail">
              <img src="/images/product/10.jpg" alt="" width="300px" height="250px">
              <div class="caption">
                <h3>자격증</h3>
                <p>자격증과 관련된 재능을 원하시는 분은 자격증 카테고리로 이동해주세요.</p>
                <a href="/adminprod/license/1" class="btn btn-default" role="button">이동하기</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="img-thumbnail">
              <img src="/images/product/11.jpg" alt="" width="300px" height="250px">
              <div class="caption">
                <h3>프로그래밍</h3>
                <p>프로그래밍과 관련된 재능을 원하시는 분은 프로그래밍 카테고리로 이동해주세요.</p>
                <a href="/adminprod/programming/1" class="btn btn-default" role="button">이동하기</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="img-thumbnail">
              <img src="/images/product/12.jpg" alt="" width="300px" height="250px">
              <div class="caption">
                <h3>외국어</h3>
                <p>외국어와 관련된 재능을 원하시는 분은 외국어 카테고리로 이동해주세요.</p>
                <a href="/adminprod/flanguage/1" class="btn btn-default" role="button">이동하기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="box">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="img-thumbnail">
              <img src="/images/product/13.png" alt="" width="300px" height="250px">
              <div class="caption">
                <h3>음악</h3>
                <p>음악과 관련된 재능을 원하시는 분은 음악 카테고리로 이동해주세요.</p>
                <a href="/adminprod/music/1" class="btn btn-default" role="button">이동하기</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="img-thumbnail">
              <img src="/images/product/14.png" alt="" width="300px" height="250px">
              <div class="caption">
                <h3>기타</h3>
                <p>이 외에 기타 재능을 원하시는 분은 기타 카테고리로 이동해주세요.</p>
                <a href="/adminprod/etc/1" class="btn btn-default" role="button">이동하기</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="img-thumbnail">
              <img src="/images/product/15.png" alt="" width="300px" height="250px">
              <div class="caption">
                <h3>재능 봉사</h3>
                <p>재능 봉사를 원하시는 분은 재능 봉사 카테고리로 이동해주세요.</p>
                <a href="/adminprod/talvolunteer/1" class="btn btn-default" role="button">이동하기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
