<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>청개천</title>

  <!-- Bootstrap -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="../../css/isotope.css" media="screen" />
  <link rel="stylesheet" href="../../css/animate.css">
  <link rel="stylesheet" href="../../js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <link href="../../css/style.css" rel="stylesheet">
  <!-- =======================================================
    Theme Name: Dewi
    Theme URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<!doctype html>
  <!--  Footer -->
  <p>
  <footer class="page-footer font-small blue" >
      <div class="footer-copyright text-center"style="color:white"><small>(주)청개천 &nbsp; &nbsp; &nbsp; 경기도 성남시 중원구
          &nbsp; &nbsp; &nbsp; 대표이사 김동주, 김현식, 이동훈
      </div>
      <div class="footer-copyright text-center"style="color:white"> <big>전화번호 : 010-4054-3812 &nbsp; &nbsp; ⓒ 2019 청개천 All Rights Reserved.
        &nbsp; &nbsp; E-mail : djk0625@naver.com &nbsp; &nbsp;
          <a href="/adminuser/write"style="color:white"> 1:1 문의하기 </a> </small>
      </div>
  </footer>

  </body>
</html>
